// .d-none{
//   display: none;
// }

.container{
  // max-width: 1200px;
  margin: auto;
}
.sign-up{
  .error-banner{
    display: none;
    position: absolute;
    left: 0%;
    top: 0;
    width: 100vw;
    min-width: 100%;
    background-color: rgba(191, 22, 80,.3);
    opacity: 1;
    color: #000;
    text-align: center;
    button{
      border: none;
      background-color: transparent;
      svg{
        color: #000;
        fill: black;
        stroke: black;
        path{
          fill: black;
        }
      }
    }
  
  }
}
form{
  font-family: "Montserrat",
  "Helvetica Neue",
  Arial,
  sans-serif;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  height: 500px;
  .form-item{
    padding: 10px 18px 10px 18px;
    max-width: 400px;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    margin-bottom:1.5rem;
    text-indent: 1rem;
    
  }
  p {
    color: #bf1650;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }
  .submit{
    max-width: 400px;
  }
}
