.billboard {


    // background-image: url('https://res.cloudinary.com/izzyhv/image/upload/q_auto,f_auto/v1603663005/ecommerce/ACND/cloudy-mountains_dfnohd.jpg');
    background-image: url('https://picsum.photos/1600/2000');
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(to left, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
        z-index: 0;
    }
    .background {
        -webkit-backdrop-filter:saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        position: absolute;
        width: 100vw;
        height: 50vh;
    }
    .container {
        z-index: 1;
    }

    h1 {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 0;
        font-weight: 100;
        text-transform: uppercase;
		letter-spacing: -10px;
		opacity: 0;
        animation: text-expand 3s ease-in-out;
		animation-fill-mode: forwards;
        margin-top: 2rem;

        @media only screen and (min-width: 475px) {
            font-size: 7rem;

        }
        br{
                @media only screen and (min-width: 600px) {
                display: none;
            }
        }
    }
    h2 {
		letter-spacing: 5px;
        margin: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;

        @media only screen and (min-width: 475px) {
            font-size: 2.5rem;
    }
    &_textbox {
        padding-left: 15px;
        padding-right: 15px;
        p {
            text-align: center;
            margin-bottom: 2rem;
        }

    }

}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes text-expand {
    from {
        letter-spacing: -10px;
		opacity: 0;
    }
    to {
		opacity: 1;
        letter-spacing: 15px;
		animation-fill-mode: forwards;
    }
}
